<link rel="stylesheet" href="../stylesheets/chat.css" media="screen" title="no title">
<div ng-controller="SocketController" class="chat row">
  <div class="col-xs-12 table">
    <table class="table table-striped">
      <tbody id="msgs">
        <tr ng-repeat='message in messages'>
          <td class="col-xs-4 text-info">
            {{message.user}}:
          </td>
          <td class="col-xs-8">
            {{message.text}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <form ng-submit="sendMessage()">
      <div class="col-xs-9 text-center">
        <input ng-model="message" type="text" class="form-control" placeholder="Type to chat...">
      </div>
      <div class="col-xs-3">
        <button type="submit" class="btn btn-info btn-fill">Send</button>
      </div>
    </form>
</div>
<!-- tabbies -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid text-center">

        <div class="btn-group" role="group" aria-label="...">
            <a href="/mood" class="btn btn-lg btn-info" role="button"> <span class="glyphicon glyphicon-heart"></span> </a>
            <a href="/map" class="btn btn-lg btn-info" role="button"><span class="glyphicon glyphicon-map-marker"></span></a>
            <a href="/personality" class="btn btn-lg btn-info" role="button"><span class="glyphicon glyphicon-user"></span></a>
            <a href="/chat" class="btn btn-lg btn-info" role="button"><span class="glyphicon glyphicon-comment"></span></a>

            <!-- <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="/mood"><span class="glyphicon glyphicon-heart"></span></a></li>
      <li role="presentation" class="active"><a href="/map"><span class="glyphicon glyphicon-map-marker"></span></a></li>
      <li role="presentation" class="active"><a href="/personality"><span class="glyphicon glyphicon-user"></span></a></li>
      <li role="presentation" class="active"><a href="/chat"><span class="glyphicon glyphicon-comment"></span></a></li>
    </ul> -->

        </div>
    </div>
</nav>

<!-- end tabbies -->
