<link rel="stylesheet" href="../stylesheets/chat.css" media="screen" title="no title">
<div ng-controller="SocketController" class="chat row">
  <div class="col-xs-12 table">
    <table class="table table-striped">
      <tbody id="msgs">
        <tr ng-repeat='message in messages'>
          <td class="col-xs-4 text-info">
            {{message.user}}:
          </td>
          <td class="col-xs-8">
            {{message.text}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <form ng-submit="sendMessage()">
      <div class="col-xs-9 text-center">
        <input ng-model="message" type="text" class="form-control" placeholder="Type to chat...">
      </div>
      <div class="col-xs-3">
        <button type="submit" class="btn btn-info">Send</button>
      </div>
    </form>
</div>
