<div ng-controller="LoginController">
    <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- <a class="navbar-brand" href="#">insta[MOOD]</a> -->
            </div>
        </div>
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>insta[mood]</h1>
                        <h3>the best Q3 project EVER</h3>
                        <!-- <hr class="intro-divider"> -->
                        </br>
                        <ul class="list-inline intro-social-buttons" ng-click="login()">
                            <li>
                                <a class="btn btn-default btn-lg" style="border-color:#fff"><i class="fa fa-"></i> <span class="network-name" style="font-color:#fff">Sign In</span></a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
    <!-- Page Content -->
    <!-- <hr class="section-heading-spacer"> -->
    <!-- <a  name="services"></a> -->


    <div class="section">
        <div class="container tim-container" style="max-width:800px">
            <h1 class="text-center">Learn More<small class="subtitle">Share experiences with yah people</small></h1>
            <div class="col-md-12">
                <!-- Nav tabs -->
                <div class="tim-title">
                    <br>
                </div>
                <ul class="nav nav-icons" role="tablist">
                    <li class="active">
                        <a href="#smart-vertical-logo" role="tab" data-toggle="tab">
                            <i class="fa fa-lightbulb-o"></i>
                            <br> Map
                        </a>
                    </li>
                    <li>
                        <a href="#mood" role="tab" data-toggle="tab">
                            <i class="fa fa-map-marker"></i>
                            <br> Mood
                        </a>
                    </li>
                    <li>
                        <a href="#personality" role="tab" data-toggle="tab">
                            <i class="fa fa-legal"></i>
                            <br> Personality
                        </a>
                    </li>
                    <li>
                        <a href="#chat" role="tab" data-toggle="tab">
                            <i class="fa fa-life-ring"></i>
                            <br> Chat
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="mood">
                        <p>Ability to see what mood your last instagram photo expresses, and get an in depth personality breakdown too!</p>
                    </div>
                    <div class="tab-pane" id="map">
                        <p>Curious to see where your friends are on a map? Check out our map feature@</p>
                    </div>
                    <div class="tab-pane" id="personality">
                        <p>This feature breaks down your personality from the captions of your instagram photos</p>
                    </div>
                    <div class="tab-pane" id="chat">
                        <p>Chat with your friends who are also logged into our app!</p>
                    </div>
                </div>
            </div>
            <!-- end col-md-6 -->

        </div>

        <div class="space"></div>
    </div>


    <!-- /.content-section-a -->



    <!-- Footer -->
    <footer>
      
    </footer>
</div>
<!-- wrapper -->
