<div ng-controller="LoginController">
    <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- <a class="navbar-brand" href="#">insta[MOOD]</a> -->
            </div>
        </div>
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>insta[mood]</h1>
                        <h3>the best Q3 project EVER</h3>
                        <!-- <hr class="intro-divider"> -->
                        </br>
                        <ul class="list-inline intro-social-buttons" ng-click="login()">
                            <li>
                                <a class="btn btn-default btn-lg" style="border-color:#fff"><i class="fa fa-"></i> <span class="network-name" style="font-color:#fff">Sign In</span></a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
    <!-- Page Content -->
    <!-- <hr class="section-heading-spacer"> -->
    <!-- <a  name="services"></a> -->
    <div class="section">
            <div class="container tim-container" style="max-width:800px">
                <h1 class="text-center">Learn More<small class="subtitle">Share experiences with yah people</small></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <!--     end extras -->
            </div>
            <div class="space"></div>
        </div>


    <!-- /.content-section-a -->



    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Mood</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">Map</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Personality</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Chat</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </footer>
</div>
<!-- wrapper -->
