<!-- <div class="row" id="blog-cards">
    <div class="col-md-4">
        <div ng-repeat="user in vm.users" class="card">
            <div class="image">
                <img style="width:100%" ng-src="{{vm.img}}" />
                <div class="filter">
                    <button type="button" class="btn btn-neutral btn-simple">
                        <i class="fa fa-bookmark-o"></i></h4>{{user.mood}}</h4>
                    </button>
                </div>
            </div>
            <div class="content">
                    <h4 class="title">{{user.username}}</h4>
                    <h4 class="title">{{user.user_image}}</h4>
                    <h4 class="title">{{user.mood_id}}</h4>
                    <h4 class="title">{{user.Lat}}</h4>
                    <h4 class="title">{{user.Long}}</h4>
                <div class="footer">
                    <div class="author">
                        <a class="card-link" href="#">
                            <i class="fa fa-female"></i>{{vm.username}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
      </div>
 -->

<div id="map"></div>


<!-- </div> -->
