
<div id="map"></div>


<!-- tabbies -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid text-center">

  <div class="btn-group" role="group" aria-label="...">
    <a href="/mood" class="btn btn-lg btn-info" role="button"> <span class="glyphicon glyphicon-heart"></span> </a>
    <a href="/map" class="btn btn-lg btn-info" role="button"><span class="glyphicon glyphicon-map-marker"></span></a>
    <a href="/personality" class="btn btn-lg btn-info" role="button"><span class="glyphicon glyphicon-user"></span></a>
    <a href="/chat" class="btn btn-lg btn-info" role="button"><span class="glyphicon glyphicon-comment"></span></a>

    <!-- <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="/mood"><span class="glyphicon glyphicon-heart"></span></a></li>
      <li role="presentation" class="active"><a href="/map"><span class="glyphicon glyphicon-map-marker"></span></a></li>
      <li role="presentation" class="active"><a href="/personality"><span class="glyphicon glyphicon-user"></span></a></li>
      <li role="presentation" class="active"><a href="/chat"><span class="glyphicon glyphicon-comment"></span></a></li>
    </ul> -->

</div>
</div>
</nav>
<!--end tabbies -->
