<div class="row">
    <div class="col-md-4">
        <div class="card card-background">
            <div class="image">
                <img src="assets/img/thumb.jpg" alt="..." />
                <div class="filter"></div>
            </div>
             <div class="content">
                <p class="category">instagram post</p>
                <a href="#">
                    <h4 class="title">This is a title</h4>
                </a>
            </div>
            <div class="footer">
               <div class="author">
                    <a href="#">
                       <img src="assets/img/kelsey.jpg" alt="..." class="avatar">
                       <span> this is a name </span>
                    </a>
                </div>
               <div class="stats pull-right">
                    <i class="fa fa-clock-o"></i> timestamp
               </div>
            </div>
        </div> <!-- end card -->
    </div>
</div>
<!-- <div class="row" id="profile-cards">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="image" style="height:20%">
                <img ng-src="{{vm.img}}" />
                <div class="filter">
                    <button type="button" class="btn btn-neutral btn-simple">
                        <i class="fa fa-bookmark-o"></i></h4>{{vm.mood}}</h4>
                    </button>
                </div>
            </div>
            <div class="content">
                <div class="author">
                    <a href="#">
                        <img class="avatar" ng-src="{{vm.propic}}" alt="..." />
                        <h4 class="title">{{vm.username}}<br />
                            <small>your mood is</small>
                          </h2>{{vm.mood}}</h2>
                        </h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div> -->
<!-- end profile picture -->

<div class="row text-center">
    <div class="col-sm-12">
        <h4 class="title">Or choose from these moods: </h4>
    </div>

    <div class="col-sm-2">
        <div class="card card-user card-plain">
            <div class="image image-plain"></div>
            <div class="content">
                <div class="author">
                    <img class="avatar" src="">
                    <p><a class="title" ng-click="vm.mood='anger'" href="#">ANGER</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end mood -->

    <div class="col-sm-2">
        <div class="card card-user card-plain">
            <div class="image image-plain"></div>
            <div class="content">
                <div class="author">
                    <img class="avatar" src="">
                    <p><a class="title" ng-click="vm.mood='contempt'" href="#">CONTEMPT</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end mood -->


    <div class="col-sm-2">
        <div class="card card-user card-plain">
            <div class="image image-plain"></div>
            <div class="content">
                <div class="author">
                    <img class="avatar" src="">
                    <p><a class="title" ng-click="vm.mood='disgust'" href="#">DISGUST</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end mood -->

    <div class="col-sm-2">
        <div class="card card-user card-plain">
            <div class="image image-plain"></div>
            <div class="content">
                <div class="author">
                    <img class="avatar" src="">
                    <p><a class="title" ng-click="vm.mood='fear'" href="#">FEAR</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end mood -->

    <div class="col-sm-2">
        <div class="card card-user card-plain">
            <div class="image image-plain"></div>
            <div class="content">
                <div class="author">
                    <img class="avatar" src="">
                    <p><a class="title" ng-click="vm.mood='happiness'" href="#">HAPPINESS</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end mood -->

    <div class="col-sm-2">
        <div class="card card-user card-plain">
            <div class="image image-plain"></div>
            <div class="content">
                <div class="author">
                    <img class="avatar" src="">
                    <p><a class="title" ng-click="vm.mood='sadness'" href="#">SADNESS</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end mood -->

    <div class="col-sm-2">
        <div class="card card-user card-plain">
            <div class="image image-plain"></div>
            <div class="content">
                <div class="author">
                    <img class="avatar" src="">
                    <p><a class="title" ng-click="vm.mood='surprise'" href="#">SURPRISE</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end mood -->

</div>
</div>

<!-- tabbies -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid text-center">

  <div class="btn-group" role="group" aria-label="...">
    <a href="/mood" class="btn btn-lg btn-info" role="button"> <span class="glyphicon glyphicon-heart"></span> </a>
    <a href="/map" class="btn btn-lg btn-info" role="button"><span class="glyphicon glyphicon-map-marker"></span></a>
    <a href="/personality" class="btn btn-lg btn-info" role="button"><span class="glyphicon glyphicon-user"></span></a>
    <a href="/chat" class="btn btn-lg btn-info" role="button"><span class="glyphicon glyphicon-comment"></span></a>

    <!-- <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="/mood"><span class="glyphicon glyphicon-heart"></span></a></li>
      <li role="presentation" class="active"><a href="/map"><span class="glyphicon glyphicon-map-marker"></span></a></li>
      <li role="presentation" class="active"><a href="/personality"><span class="glyphicon glyphicon-user"></span></a></li>
      <li role="presentation" class="active"><a href="/chat"><span class="glyphicon glyphicon-comment"></span></a></li>
    </ul> -->

</div>
</div>
</nav>
<!--end tabbies -->

</div>
<!-- /.container-fluid -->
</nav>
</div>

</div>
