<link rel="stylesheet" href="../stylesheets/mood.css" media="screen" title="no title">
<div class="row" id="profile-cards">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="image" style="height:20%">
                <img ng-src="{{vm.img}}" />
                <div class="filter">
                    <button type="button" class="btn btn-neutral btn-simple">
                        <i class="fa fa-bookmark-o"></i></h4>{{vm.mood}}</h4>
                    </button>
                </div>
            </div>
            <div class="content">
                <div class="author">
                    <a href="#">
                        <img class="avatar" ng-src="{{vm.propic}}" alt="..." />
                        <h4 class="title"><small>{{vm.username}}</small><br>is feeling...<p class="mood">{{vm.mood}}</p></h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end profile picture -->
<div class="row">
  <div class="col-xs-12 text-center">
    <h5 class="title">Feeling different? Choose your mood: </h5><br>
  </div>
</div>
<div class="container text-center">
    <div class="col-xs-4 text-center">
      <button ng-click="vm.mood='sadness'" class="btn btn-block btn-round btn-fill btn-primary">
        Sadness
      </button>
    </div>
    <div class="col-xs-4 text-center">
      <button ng-click="vm.mood='happiness'" class="btn btn-block btn-round btn-fill btn-warning">
        Happy
      </button>
    </div>
    <div class="col-xs-4 text-center">
      <button ng-click="vm.mood='surprise'" class="btn btn-block btn-round btn-fill btn-dribble">
        Surprise
      </button>
    </div>
    <div class="col-xs-4 text-center">
      <button ng-click="vm.mood='disgust'" class="btn btn-block btn-round btn-fill btn-success">
        Disgust
      </button>
    </div>
    <div class="col-xs-4 text-center">
      <button ng-click="vm.mood='fear'" class="btn btn-block btn-round btn-fill btn-info">
        Fear
      </button>
    </div>
    <div class="col-xs-4 text-center">
      <button ng-click="vm.mood='anger'" class="btn btn-block btn-round btn-fill btn-danger">
        Anger
      </button>
    </div>
</div>
<br><br><br><br><br><br>

<!-- tabbies -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid text-center">
  <div class="btn-group" role="group" aria-label="...">
    <a href="/mood" class="btn btn-lg btn-info" role="button"> <span class="glyphicon glyphicon-heart"></span> </a>
    <a href="/map" class="btn btn-lg btn-info" role="button"><span class="glyphicon glyphicon-map-marker"></span></a>
    <a href="/personality" class="btn btn-lg btn-info" role="button"><span class="glyphicon glyphicon-user"></span></a>
    <a href="/chat" class="btn btn-lg btn-info" role="button"><span class="glyphicon glyphicon-comment"></span></a>
</div>
</div>
</nav>
<!--end tabbies -->

</div>
<!-- /.container-fluid -->
</nav>
</div>

</div>
